#include "resource.h"

IDI_APP ICON DISCARDABLE "app.ico"

IDR_MAIN_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Open...\tCtrl+O", ID_FILE_OPEN
        MENUITEM "&Run\tCtrl+R", ID_FILE_RUN
        MENUITEM "&Copy Output", ID_FILE_COPY_OUTPUT
        MENUITEM "C&lear Output", ID_FILE_CLEAR_OUTPUT
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4", ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "Cu&t\tCtrl+X", ID_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C", ID_EDIT_COPY
        MENUITEM "&Paste\tCtrl+V", ID_EDIT_PASTE
        MENUITEM SEPARATOR
        MENUITEM "Select &All\tCtrl+A", ID_EDIT_SELECT_ALL
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About CE Brainfuck...", ID_HELP_ABOUT
    END
END
